<div class="top-section">
    <h1>Let's Talk!</h1>
    <div>Project proposals, inquiries, or even a coffee.</div>
</div>

<div class="bottom-section">
    <div class="social-links">
        <a href="https://github.com/axadn" class="social-link">
            <img src="assets/social/github-mark.svg">
        </a>
        <a href="http://linkedin.com/in/axadn" class="social-link">
            <img src="assets/social/In-Blue-128.png">
        </a>
        <a class="email-link" href="mailto:adanmarrufo@gmail.com">Email me</a>
    </div>
    
</div>



