:host{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 25px;
    .body{
        width: 100%;
        .carousel {
            float: left;
        }
        .project-skills{
            display: flex;
            gap: 5px;
            padding-bottom: 17px;
            flex-wrap: wrap;
            ::ng-deep .mat-mdc-chip {
                border-radius: 5px;
            }
        }
        .project-description{
            min-width: 75%;
            padding-right: 25px;
        }
    }
    
}