:host{
    display:flex;
    align-items: center;
    flex-direction: column;
    .body{
        width: 100%;
        .carousel {
            float: left;
        }
        .project-description{
            min-width: 75%;
        }
    }
    
}