:host{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 25px;
    .body{
        width: 100%;
        display: flex;
        flex-direction: column;
        .project-skills{
            display: flex;
            gap: 5px;
            padding-bottom: 17px;
            flex-wrap: wrap;
            ::ng-deep .mat-mdc-chip {
                border-radius: 5px;
            }
        }
        .project-description{
            min-width: 75%;
            padding: 25px;
            background-color: white;
            border-radius: 4px;
        }

        .carousel{
            padding: 20px;
        }

        .text{
            padding: 20px;
        }
    }
}

@media (min-width: 1200px){
    :host{
        .body{
            flex-direction: row;
        }
    }
    
} 