<h1>{{(details$ | async)?.title}}</h1>
<div class=" body">
    <app-carousel class="carousel" [slides]="(details$ | async)?.slides ?? []">

    </app-carousel>
    <div class="text">
        <div class="project-skills">
            <mat-chip *ngFor="let skill of (details$ | async)?.skills">
                {{skill}}
            </mat-chip>
        </div>
        <div class="project-description" [innerHtml]="(details$ | async)?.summary">
            description
        </div>
    </div>
    
</div>

